.guide_text_input{
    width: 550px;
    height: 60px;
    border-radius: 7px;
}
.inputs_fields{
    padding-bottom: 40px;
}
.col1_wr{
    z-index: 1;
    margin-left: 25px;
}
.col2_wr{
    padding-left: 255px;
    z-index: 1;
}
.save_guide{
    cursor: pointer;
    width: 380px;
    height: 57px;
    background: #228b22;
    border-radius: 7px;
    font-size: 18px;
    text-align: center;
    color: #ffffff;
    border: 2px solid #228b22;
    margin-left: 25px;
}