.wrong {
    border: 2px solid #cc2936;
}

.eyecon {
    position: absolute;
    cursor: pointer;
    height: 100%;
    right: 3%;
    top: 0;
    display: flex;
    align-items: center;
}
.labels {
    opacity: 50%;
}

.password {
    display: inline-flex;
    align-items: center;
}

.word_rule {
    white-space: nowrap;
    margin: 0;
    font-style: normal;
    font-weight: normal;
    font-size: 16px;
    color: rgba(61, 61, 61, 0.7);
}
.link {
    color: #228b22;
}

.main {
    margin-bottom: 20px;
    font-weight: 500;
    font-size: 18px;
    color: #3d3d3d;
}
